extends layout

block content

    h1 #{title} #{item.name}

    div
        p Description: #{item.description}
        p Price: $ #{item.price}
        p  Available #{item.quantity}
        p category: #[a(href=item.category.url) #{item.category.name}]  

    div
        p Image
        img(src=item.image alt="image" width="200")

    hr
    p
        a(href=item.url +"/update") Update
    p 
        a(href=item.url + "/delete") delete